{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-success text-white text-center">
                <h4>Create Account</h4>
            </div>

            <div class="card-body">
                <form method="POST">
                    <label>Username</label>
                    <input class="form-control mb-3" name="username" required>

                    <label>Password</label>
                    <input class="form-control mb-3" name="password" type="password" required>

                    <label>Role</label>
                    <select class="form-control mb-3" name="role" required>
                        <option value="coach">Coach</option>
                        <option value="inventory_manager">Inventory Manager</option>
                        <option value="player">Player</option>
                    </select>

                    <button class="btn btn-success w-100">Register</button>
                </form>

                <hr>

                <a href="{{ url_for('login') }}">Already have an account? Login here</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}